/* A handy list of color names: https://www.w3schools.com/colors/colors_names.asp */

body {
    background-color:rgb(206, 126, 51)
}

nobullets {
  list-style-type: none;
  padding-left: 0;
}

header {
  h1 {
  padding: 1.5 rem;
  background-color:#333;
  color:white;
  text-align: center;
  font-size:large;
  }

  h2 {
    padding: 1.5 rem;
  background-color:#333;
  color:white;
  text-align: center;
  font-size:larger;
  font-family: 'Metal Mania', cursive;
  }
}
nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* so links wrap if they don't fit */
  padding: 0;
}

nav ul li a {
  padding: 14px 24px; /* more clickable and open */
}


img {
  max-width: 100%;
  height: auto;
  display: block;
}


 article {
  max-width: 800px;
  margin: 20px auto; 
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 8px;
}


footer {
  background-color: #160909;
  padding: 10px;
  text-align: center;
  color: white;
}


form-container {
      max-width: 800px;
      margin: 50px auto;
      padding: 20px;
      background: white;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      border-radius: 8px;
    }

    banner-image {
  width: 100%;      
  height: auto;      
  display: block;    
  margin-top: 10px;  
  border-radius: 8px;
    }

    header, nav, section, footer {
      margin-bottom: 20px;
    }

    
@media (max-width: 600px) {

  
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }

  
  header, nav, section, footer {
    margin-bottom: 15px;
  }

  article {
    margin: 10px;
    padding: 15px;
  }

  
  iframe {
    width: 100% !important;
    height: auto;
  }
}
