/* A handy list of color names: https://www.w3schools.com/colors/colors_names.asp */

body {
    background-color:rgb(206, 126, 51)
}


header {
  padding: 1.5rem;
  background-color: #333;
  color: white;
  text-align: center;
}

header {
  h1 {
  padding: 1.5 rem;
  background-color:#333;
  color:white;
  text-align: center;
  font-size: large;
  }
  h2 {
    padding: 1.5 rem;
  background-color:#333;
  color:white;
  text-align: center;
  font-size:larger;
  font-family: 'Metal Mania', cursive;
  }
}
nav {
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

    li a:hover {
      background-color: #111;
    }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}


article {
   float: center;
   margin: 10px;
  padding: 15px;
  background-color: #f1f1f1;
}

footer {
  background-color: #160909;
  padding: 10px;
  text-align: center;
  color: white;
}


